/**
 * General
 */

 *{
 	box-sizing:  border-box;
 	font-family:  Arial;
 	color: #333;
 }
 body{
 	background-color: #9995;
 }

 a{
 	color: #fff;
 	text-decoration: none;
 	padding: 1em;
 }

 h1{
 	padding: 0;
 	margin: 0;
 	color: #fff
 }


 #h1, h3{
 	background: #02c094;
 	color: #fff;
 	margin: 0;
 	line-height:  2em;
 	text-align: center;
 }

 #contenido{
 	margin-bottom: 80px;
 }

/**
 * Barra de navegación
 */

 #header{
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: space-between;
 	height: 60px;
 	align-items: center;
 	background-color: #02c094;
 }

 .img-libro{
 	border-right: 1px solid #fff;
 	border-bottom: 1px solid #fff;
 	margin: 2px;
 	box-shadow: 6px 6px 10px #0003
 }

 #titulo{
 	margin-left: 0.8em;
 	margin-right: 0.2em;
 	transform: skewX(1deg);
 }

 .nav ul {
 	list-style: none;
 	padding: 0;
 }

 .nav li{
 	display: inline-block;

 }

 .boton_nav{
 	background-color: #ebfff6;
 	border-radius: 8px;
 	color: #02c094;

 }
 .nav a, #cerrar{
 	border: 1px solid #ebfff6;
 	border-radius: 5px;
 	padding: 1em;
 }

 .nav a:hover{
 	background-color: #ff1e40;
 	color: #ebfff6;
 	cursor: pointer;
 }

 #cerrar{
 	background-color: #ff1e40;
 	margin-right: 0.8em;
 }

 .ativa{
 	border: #fff;
 	background-color:#02c094;
 	color: #fff;
 }

/**
 * Formulario de registro de usuario
 */
 #sexo .sexoR,  #c_estado .estado{
 	display: inline-block;
 	width: auto;
 }

 .contenedor{
 	display:  flex;
 	flex-direction: row;
 	flex-wrap: nowrap;
 	justify-content: space-between;

 	margin: 1em;
 }

 ._25{
 	flex: 2.5;
 }

 ._50{
 	flex: 5;
 }

 ._75{
 	flex: 7.5;
 }

 ._100{
 	flex-basis: 100%;
 }

 img{
 	width: 100%;
 	max-height: 100%;
 	box-shadow: 1px 1px 1px #333;
 	border-radius: 3px;
 }

 /**
  * Diseño de index
  */

  .login-imagen{
  	padding: 1em 0;

  }

  .campo-formulario label{
  	display: block;
  }

  label, input, button{
  	width: 100%;
  }

  label{
  	font-weight: bold;
  }

  input{
  	border: 1px solid #02c094;
  	color: #02c094;
  	border-radius: 3px;
  	font-size: 1.5em;
  	margin-top: 0.5em;
  }

  input{
  	outline-color: #02c094;
  }

  .campo-formulario{
  	padding-top: 1.5em;
  }

  form {
  	padding: 3em;
  	padding-top: 1em;
  	box-shadow:  0px 0px 1px #02c094;	
  	background-color:  #fff;
  	border-radius: 3px;
  }

  .boton{
  	color: #fff;
  	cursor: pointer;
  	background-color: #113e53;
  	border: none;
  	padding: 0.5em;
  	margin-bottom: 0.8em;
  	border-radius:  3px;
  }

  /**
   * Footer
   */

   .footer{
   	position: fixed;
   	bottom: 0;
   	text-align: right;
   	width:  100%;
   	background-color: #fff;
   	padding:  1em;
   	color: #777;
   	font-weight:  bold;

   }

   /**
    * Registro de libro
    */

    #pnl_edit_reg{
      width: 25%;
      margin-right: 0.5em;
    }

    #registrarL{
      background-color: #ebfff6;
      text-align: center;
      padding: 0.5em 0; 
      cursor: pointer;
      color: #02c094;
      border: 1px solid #02c094;
      border-radius: 5px;
    }

  }

 /**
  * Contenedor de tabla
  */

  #contenedor_tabla{
  	margin: 0 1em;
  }

  #c_buscar{
  	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	align-items: center;
  }

  #buscar{
  	flex: 9;
  	margin: 0;
  }

  .botonB{
  	flex: 1;
  	margin:0;
  	margin-left: 0.3em;
  	border: 1px solid #113e53;
  }

  /*tabla*/

  #tabla{
  	margin-top: 1em;
  	border: 1px solid #02c094;
  	border-bottom: none;
  	background-color: #fff;
  }

  table{
  	border-collapse: collapse;
  }

  #fila{
  	border-bottom: 1px solid #02c094;
  }

  #fila:hover{
  	background-color: #02c09450;
  }

  th{
  	background-color: #02c094;
  	border-left: 1px solid #fff;
  	color: #fff;
  	padding: 0.5em;
  }

  td{
  	text-align: center;
  }

  .botonT{
  	background-color: #ff1e40;
  	color: #fff;
  	border: 1px solid #fff;
  	cursor: pointer;
  }

  .botonT:hover{
  	background-color: #fff;
  	color: #ff1e40;
  	border: 1px solid #ff1e40;
  }

/**
 * Consulta de medios
 */

 @media screen and (min-width: 800px){
 	._40{
 		flex: 4;
 	}

 	._60{
 		flex: 6;
 	}

 	.login{
 		padding: 0 5%;
 	}

 }